Table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  justify-content: center;
  display: inline-table;
  margin-top: 40px;  
}
table.table.table-striped.table-bordered.table-hover {
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.App {
    text-align: center;
    margin-top: 100px;
  }
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button.btn1  {
  font-size: 14px;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  text-decoration: none;
  border: none;
  padding: 4px;
  width: 55px;
  height: 32px;
}
button.btn2 { 
font-size: 14px;
text-decoration: none;
  border: none;
  padding: 4px;
  width: 55px;
  height: 32px;
  margin-left: 5px;
}
.userBtn {
margin-left: -91vh;
padding: 9px;
background: green;
color: white;
border: none;
}
.modal-body {
  background-color: #DCE1E3;
}
input[type="text"] {
  width: 100%;
}
textarea {
  width: 100%;
}
#close{
  display: flex;
  flex-direction: row-reverse;
}
.btn-add{
  border: none;
  display: flex;
  float: right;
  margin-right: 250px;
}

.popup {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 60;
right: 0;
bottom: 0;
margin: auto;
background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
position: absolute;
padding: 20px;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;
margin: auto;
background: white;
width:30%;
height: 350px;
}
.popupButtonClose {
float: right;
margin-top: 15px;
font-size: 16px;
margin-right: 20px; 
}
.popupButtonSave {
color: white;
background-color: #3c8dd5;
float: right;
border: none;
padding: 8px;
font-size: 16px;
}

input[placeholder="Enter author name" ] {
width: 95%;
padding: 15px;
}
input[placeholder="Enter blog here" ] {
  width: 95%;
padding: 15px;
}
button.submit1 {
margin-top: 5%;
font-size: 15px;
}

label {
margin-right: 92%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}










